@import url("https://fonts.googleapis.com/css?family=Oswald");
body {
  background: #303030;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #1591a5;
  transition: 0.2s linear;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: "Oswald", Arial, sans-serif;
}

.nav {
  background-color: #303030;
  height: 40px;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  position: fixed;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .nav {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2em;
    height: 100vh;
    width: 100px;
  }
}
.nav .nav-item {
  color: #CFCFCF;
  display: block;
  padding-top: 0.2em;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .nav .nav-item {
    height: 20%;
    max-height: 120px;
    min-height: 60px;
    text-align: left;
    padding: 2em 0 0 1em;
  }
}
.nav .nav-item:hover {
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.outer-wrapper {
  background: #FFF;
  position: absolute;
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  .outer-wrapper main {
    margin-left: 100px;
  }
}

section#tech {
  position: relative;
}
@media screen and (min-width: 768px) {
  section#tech {
    margin-top: -120px;
  }
}
section#tech > div > svg {
  position: absolute;
  z-index: -1;
}
section#tech > div .svg-sm {
  display: block;
}
section#tech > div .svg-md, section#tech > div .svg-lg {
  display: none;
}
@media only screen and (min-width: 576px) {
  section#tech > div .svg-sm {
    display: none;
  }
  section#tech > div .svg-md {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  section#tech > div .svg-md {
    display: none;
  }
  section#tech > div .svg-lg {
    display: block;
  }
}
section#tech > div > div {
  padding-bottom: 4em;
  padding-top: 7em;
}
@media screen and (min-width: 768px) {
  section#tech > div > div {
    padding-top: 15em;
  }
}
section#tech > div > div header.tech-header {
  border-bottom: 1px solid #333;
}
section#tech #web-skills i, section#tech #learning-skills i {
  display: block;
  font-size: 3em;
  margin-bottom: 0.2em;
}
section#tech #design-skills, section#tech #dev-skills {
  font-size: 1.2em;
}
section#tech #design-skills i, section#tech #dev-skills i {
  display: block;
  font-size: 2em;
}
section#tech #web-skills .skill-box_smaller-font, section#tech #design-skills .skill-box_smaller-font, section#tech #dev-skills .skill-box_smaller-font, section#tech #learning-skills .skill-box_smaller-font {
  font-size: 0.8em;
}

section#projects .project-box {
  height: 140px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
  section#projects .project-box {
    height: 300px;
  }
}
@media (min-width: 1024px) {
  section#projects .project-box {
    height: 450px;
  }
}
section#projects .project-box .background {
  height: 100%;
  transition: 0.2s ease;
  width: 100%;
}
section#projects .project-box .info-overlay {
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.2s ease opacity;
}
section#projects .project-box .info-overlay > span {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.9em;
  left: 20%;
  margin: auto;
  position: absolute;
  right: 20%;
  top: 0%;
  transition: 0.25s ease top;
}
section#projects .project-box:hover .background {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  section#projects .project-box:hover .info-overlay {
    opacity: 1;
  }
  section#projects .project-box:hover .info-overlay > span {
    top: 40%;
  }
}

section#workflow .workflow-step .workflow-step-numeric {
  font-size: 2.4em;
  transition: 0.2s ease font-size;
}

section#about img {
  border-radius: 50%;
  max-width: 100%;
}

.site-footer {
  background-color: #303030;
  color: #FFF;
  position: relative;
}
.site-footer svg {
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.site-footer .svg-sm {
  display: block;
}
.site-footer .svg-md, .site-footer .svg-lg {
  display: none;
}
@media only screen and (min-width: 576px) {
  .site-footer .svg-sm {
    display: none;
  }
  .site-footer .svg-md {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .site-footer .svg-md {
    display: none;
  }
  .site-footer .svg-lg {
    display: block;
  }
}
.site-footer span#footer-quote {
  display: block;
  font-family: monospace;
  font-size: 0.6em;
}

/*# sourceMappingURL=styles.css.map */
